*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* .clearfix:after{
    content: "";
    display: block;
    clear: both;
} */

.centered_header{
    width: 70%;
    max-width: 1400px;
    min-width: 400px;

    margin: 0 auto;
}

.centered_main{
    width: 65%;
    max-width: 1200px;
    min-width: 400px;

    margin: 0 auto;
}

.line{
    display: block;
    width: 50px;
    border-top:1px solid grey ;
    margin-top:20px
}

.btn{
    padding: 5px 12px;
    border:1px solid transparent;
    border-radius: 0;

    cursor: pointer;
}

.btn.primary{
    color: rgb(228, 228, 228);
    background-color: rgb(0, 97, 255);
    box-shadow: 0px 2px 5px transparent;

    transition: all .4s;
}

.btn.primary:hover{
    color: white;
    background-color: rgb(51, 129, 255);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.btn.secondary{
    color: rgb(108, 108, 108);
    background-color:transparent;
    border: 1.3px solid rgb(119, 119, 119);
    box-shadow: 0px 2px 5px transparent;

    transition: all .4s;
}

.btn.secondary:hover{
    color: rgb(0, 0, 0);
    background-color:transparent;
    border: 1.3px solid black;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/* COMMONS */


/* NAVBAR */
/* NavCommons */
nav{
    color: black;
}

nav ul{
    display: flex;
    gap:14px;
    align-items: center;

    height: 100%;
}

nav ul li{
    list-style-type: none;
    height: 100%;
    
    border-bottom:2px solid transparent;
}
    /* HOVER */
nav ul li:hover{
    border-bottom:2px solid rgb(19, 148, 253);
}

nav ul li a{
    text-decoration: none;
    color: rgb(137, 137, 137);
    font-size: .70em;
    font-weight: 400;
    
    display: flex;
    align-items: center;
    height: 100%;

}

nav ul li:hover a{
    color: black;
}
/* fine NavCommons */

nav .nav_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    padding: 0px 10px;

    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}

nav .nav_wrapper .nav_left_side,
nav .nav_wrapper .nav_right_side{
    display: flex;
    align-items: center;
    gap: 10px;

    height: 100%;
}

nav .nav_wrapper .nav_left_side .left_menu,
nav .nav_wrapper .nav_right_side .right_menu{
    height: 100%;
}

nav .nav_wrapper .nav_left_side .logo_container{
    display: flex;
    align-items: center;
    height:100%;
    padding-right: 5px;
}

nav .nav_wrapper .nav_left_side .logo_container a{
    height: 40%;
}

nav .nav_wrapper .nav_left_side .logo_container a img{
    height: 100%;
}
/* fineNAVBAR */



/* JUMBO */
.jumbo{
background-color: rgb(180, 208, 231);
margin-top: 60px;
}

.jumbo .jumbo_inner{
    padding: 60px 0px 0px 0px;
}

.jumbo .jumbo_inner .title_wrapper h1{
    font-size: 3em;
    padding: 0.5em 0;
}

.jumbo .jumbo_inner .jumbo_content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


/* Left-Side-Jumbo */
.jumbo .jumbo_inner .jumbo_content .text_container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 45px;
    flex-basis:30%;
    flex-shrink: 4;
    flex-grow: 0.7;

    min-width: 200px;

    padding: 10px 0;
}

.jumbo .jumbo_inner .jumbo_content .text_container .top_side{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap:30px;
    font-size: 0.9em;
}

.jumbo .jumbo_inner .jumbo_content .text_container .bottom_side{
    position: relative;
    height: 30px;
}

.jumbo .jumbo_inner .jumbo_content .text_container .bottom_side a{
    text-decoration: none;
    color: black;
}

.jumbo .jumbo_inner .jumbo_content .text_container .bottom_side i{
    font-size: 2em;
    position: absolute;
    bottom: 0;
    left: 0;

    transition: transform .5s, color .2s;
}

.jumbo .jumbo_inner .jumbo_content .text_container .bottom_side a:hover i{
    animation: arrow 0.8s infinite;
    transform: scale(1.2);
    text-shadow: 0px 0px 5px rgba(0, 6px, 0, .3);
    color:  rgb(0, 98, 255);
}

@keyframes arrow{ 
    0%{
        bottom:0px
    }

    50%{
        bottom: 5px;
    }

    100%{
        bottom:0px
    }
}

/* right-Side-Jumbo */
.jumbo .jumbo_inner .jumbo_content .img_wrapper{
   flex-basis:70%;
   flex-shrink: 0;
   flex-grow: 1;

   display: flex;
   justify-content: center;

   min-width: 560px;
   margin-bottom: -70px;

   padding: 10px 0;
}

.jumbo .jumbo_inner .jumbo_content .img_wrapper img{
    width: 100%;
    
    position:relative ;
    bottom: 0px;
    right: 0;

    object-fit: contain;
}
/* fine JUMBO */


/* MAIN */

main{
    padding-top:100px;
}


/* Section one */
main .main_inner section h2{
    font-size: 1.8em;
    margin-bottom: 1em;
}

/* Checkbox */
main .fatturazione .check_fattu{
    display: flex;
    gap: 20px;
}

main .fatturazione .check_fattu li{
    list-style-type: none;
}

/* Piano di business */
main .fatturazione .business_plans{
    display: flex;
    flex-flow: column nowrap;

    padding-bottom:70px;
}

main .fatturazione .business_plans .business_columns{
    padding:40px 0px;

    display: flex;
    justify-content: space-between;
}

main .fatturazione .business_plans .business_columns .column{
    width: 30%;
    border:1px solid black;
}


/* Column */
main .fatturazione .business_plans .business_columns .column .header_column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    padding: 10px 0;

    border-bottom:1px solid black;
} 

main .fatturazione .business_plans .business_columns .column .header_column h4{
    font-weight: 300;
}

main .fatturazione .business_plans .business_columns .column .main_column{
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;

    font-size: 0.8em;
}


main .fatturazione .business_plans .business_columns .column .main_column .main_top,
main .fatturazione .business_plans .business_columns .column .main_column .middle_main ul,
main .fatturazione .business_plans .business_columns .column .main_column .middle_main_two,
main .fatturazione .business_plans .business_columns .column .main_column .footer_main{
    display: flex;
    flex-flow: column;
    gap: 20px;
}

main .fatturazione .business_plans .business_columns .column .main_column .main_top h3{
    font-size: 1.5em;
    padding:10px 0;
}

main .fatturazione .business_plans .business_columns .column .main_column .main_top>span{
    font-weight: 300;
    color: rgb(54, 54, 54);
}


main .fatturazione .business_plans .business_columns .column .main_column ul li{
    list-style-type: none;
    display: flex;
    gap: 5px;
}

main .fatturazione .business_plans .business_columns .column .main_column .footer_main .plan_features{
    display: flex;
    flex-direction: column;
    gap:20px;
}

main .fatturazione .business_plans .business_columns .column .main_column .footer_main .plan_features .control_icon{
    color: rgb(7, 96, 255);
    font-weight: 400;
}

/* Last Column */
main .fatturazione .business_plans .last_column{
    width: 100%;
    border:1px solid black;
}

main .fatturazione .business_plans .last_column .header_column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    padding: 10px 0;

    border-bottom:1px solid black;
} 

main .fatturazione .business_plans .last_column .main_column{
    display: flex;
    justify-content: space-between;
    padding:30px
}

main .fatturazione .business_plans .last_column .main_column .main_left{
    width:70%;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main .fatturazione .business_plans .last_column .main_column .main_right{
    width: 30%;

    display: flex;
    justify-content: center;
    align-items:flex-start;
}

/* fine Piano di business */


/* badge box */

main .fatturazione .badge_box_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    padding-bottom: 60px;
}   

main .fatturazione .badge_box_wrapper .img_container{
    width: 60%;
}

main .fatturazione .badge_box_wrapper .img_container img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

main .fatturazione .badge_box_wrapper .text_container{
    width: 35%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 30px;
    padding: 20px 30px 0px 0px;
    line-height: 30px;
}

main .fatturazione .badge_box_wrapper .text_container h4{
    font-size: 1.4em;
}

main .fatturazione .badge_box_wrapper .text_container p{
    font-size: 0.9em;
}
/* fine badge box */




/* section TWO */
main .section_two .cards_container{
    padding-top: 30px;
    padding-bottom:50px;
}

main .section_two .card_wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main .section_two .card_wrapper .card{
    width: calc(100% / 3 - 20px);
    min-width: 200px;
}

main .section_two .card_wrapper .card p{
    padding:10px 0;
    font-size: 0.8em;
}

main .section_two .card_wrapper .card h4{
    padding:10px 0;
    font-size: 0.9em;
}


main .section_two .card_wrapper .card .img_container{
    position: relative;
    left:0;
    top:0;
}

main .section_two .card_wrapper .card .img_container img{
    width: 100%;
    object-fit: cover;
}

/* fine section TWO */


/* section Three */
main .section_three .header_section_three{
    margin-bottom: 50px;
}

main .section_three .header_section_three h2{
    padding: 30px 0;
}

/* FULLSCREEN */

/* TOP SIDE */
main .section_three .fullscreen_section .full_top{
    display: flex;
    width: 100%;
}

main .section_three .fullscreen_section .full_top .right_full_brand,
main .section_three .fullscreen_section .full_top .left_full_brand{
    flex-grow: 1;
    flex-shrink: 0;
    width: calc(100vw / 3);
    display: flex;
    flex-flow: row wrap;
}

main .section_three .fullscreen_section .full_top .brand{
    width: calc(100vw / 6);
    height: calc(100vw / 6);

    position: relative;
    border: 15px solid transparent;

    transition: border .3s;

}

main .section_three .fullscreen_section .full_top .brand:hover{
    border: 15px solid rgba(255, 255, 255, 0.45);
}

/* Brand Colors */
#one{
    background-color:rgb(162, 211, 155) ;
}

#two{
    background-color: rgb(97, 8, 43);
}

#three{
    background-color:rgb(0, 147, 206) ;
}

#four{
    background-color:rgb(255, 28, 28) ;
}

#five{
    background-color: rgb(213, 0, 31);
}

#six{
    background-color: rgb(13, 36, 129);
}

#seven{
    background-color: rgb(180, 208, 231);
}

#eight{
    background-color: rgb(255, 216, 48);
}
/* fine Brand Colors */


main .section_three .fullscreen_section .full_top .brand img{
    width: 70%;
    position: absolute;
    top:50%;
    left:50%;

    transform: translateX(-50%) translateY(-50%);

    transition: width .5s, filter 0.5s;

    filter: invert(.9);
}

main .section_three .fullscreen_section .full_top .brand:hover img{
    width: 75%;
    filter: invert(1);
}

main .section_three .fullscreen_section .full_top .center_description{
    padding: 30px;
    max-height: calc(100vw / 3);
    overflow-y: auto;

    background-color: rgb(245, 245, 245);
}

main .section_three .fullscreen_section .full_top .center_description .text_container img{
    width:50%
}

main .section_three .fullscreen_section .full_top .center_description .text_container blockquote{
    padding:20px 0px;
    font-size:.9em
}

main .section_three .fullscreen_section .full_top .center_description .text_container figcaption{
    font-size:.8em
}

/* BOTTOM SIDE */
main .section_three .fullscreen_section .full_bottom{
    background-color: rgb(180, 208, 231);
}

main .section_three .fullscreen_section .full_bottom .full_bottom_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 80px 0;
}

main .section_three .fullscreen_section .full_bottom .full_bottom_inner h2{
    display: inline-block;
    width:55%; 
    font-size: 2em;
    color:rgb(97, 8, 43);  
}

main .section_three .fullscreen_section .full_bottom .full_bottom_inner .btn{
    padding:5px 10px;
    background-color: white;
    color: rgb(151, 151, 151);
    box-shadow: 0px 5px 10px transparent;

    transition: all 0.4s;
}

main .section_three .fullscreen_section .full_bottom .full_bottom_inner .btn:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    color: black;
    transform: scale(1.05);
}
/* fine section Three */


/* Section four */
main .section_four .section_inner{
   margin:30px auto;
   padding-bottom: 500px;
   position:relative;
} 

main .section_four .section_inner h2{
    padding: 1em 0;
} 

main .section_four .section_inner .ask_section ul li{
    list-style-type: none;
} 

main .section_four .section_inner .ask_section{
    padding-bottom: 150px;
    position: absolute;
   
}

main .section_four .section_inner .ask_section ul li .visible{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

 


main .section_four .section_inner .ask_section ul li .hidden{
    font-size: .9em;
    overflow-y:hidden;
    max-height: 1px;
    opacity:0;
 
    transition:all 1s;
}

main .section_four .section_inner .ask_section ul li:hover .hidden {
    max-height: 200px;
    margin: 10px 0 20px 0;
    top:0px;
    opacity:1;
    transition:all .4s;
}

main .section_four .section_inner .ask_section ul li .hidden p{
    position:relative;
    top:-60px;
    opacity:0;
    transition: all 3s;
}


main .section_four .section_inner .ask_section ul li:hover .hidden p{
    top:0;
    opacity:1;
    transition: padding .4s, top .4s, opacity 1s;

}

main .section_four .section_inner .ask_section ul li .visible .arrow{
    transition: transform 1s ease;
    padding-right: 10px;
}

main .section_four .section_inner .ask_section ul li:hover .visible .arrow{
    transform: rotate(90deg) translateY(6px) translateX(5px);
    transition: transform 0.4s ease;
}


/* fine Section four */
/* fine MAIN */

/* Footer */

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size:1em;
    padding: 30px 0 0 0;

    position:relative;
    z-index: 2;
}

footer .footer_inner{
    display: flex;
    justify-content: space-between;
}

footer .footer_inner .footer_column{
    width: 100%;
    font-size: .7em;
    font-weight: 300;
}

footer .footer_inner  .list_wrapper strong{
    display: block;
    padding: 20px 0;
}

footer .footer_inner .footer_column li{
    list-style-type: none;
    padding: 4px 0;
}

footer .footer_inner .footer_column li a{
    text-decoration: none;
    color: #d4d4d4;
}

footer .footer_inner .footer_column li a:hover{
    color: #ffffff;
}

footer .bottom_footer{
    padding: 20px 0;
}

footer .bottom_footer .selection{
    color: white;
    width: 20%;
    background-color: transparent;
}

footer .bottom_footer .selection option{
    background-color: black;
}